<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" href="/chat">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="materi" href="/materi">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Materi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
