<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Materi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="materiLink" placeholder="Masukkan link materi..."></ion-input>
    <ion-button (click)="saveMateri()">Simpan</ion-button>
  </ion-item>

  <ion-item>
    <input type="file" (change)="uploadFile($event)" />
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let m of materiList">
      {{m.title}}
    </ion-item>
  </ion-list>
</ion-content>
